section.slide.chrome_ext_header
	h2.shout Chrome Extentions

section.slide.centr-align
	h2 Advanced REST client
	img(style="max-width: 65%; box-shadow: 0 0 7px #666;" src="./img/arc.jpg", alt="arc")

section.slide.centr-align
	h2 Perfect Pixel
	img(style="max-width: 65%; box-shadow: 0 0 7px #666;" src="./img/perfect_pixel.jpg", alt="perfect_pixel")

section.slide.centr-align
	h2 Fontface Ninja
	img(style="max-width: 90%; box-shadow: 0 0 7px #666;" src="./img/fonface_ninja.jpg", alt="fonface_ninja")

section.slide.chrome_ext_header-sub
	h2.shout Давайте напишем своё

section.slide.centr-align

	h2 manifest.json
	img(style="max-width: 80%; box-shadow: 0 0 7px #666;" src="./img/manifest_json.jpg", alt="manifest_json")

section.slide.centr-align

	h2 background.js
	img(style="max-width: 90%; box-shadow: 0 0 7px #666;" src="./img/background_js.jpg", alt="background_js")


section.slide.centr-align
	h2 cagefy.js
	img(style="max-width: 66%; box-shadow: 0 0 7px #666;" src="./img/cagefy_js.jpg", alt="cagefy_js")

section.slide.link-slide
	h2 Дебаг и установка
	img(style="max-width: 95%; box-shadow: 0 0 7px #666;" src="./img/debug_ext.jpg", alt="debug_ext")
	p
		a.link-slide_link(target="_blank" href="https://github.com/OleksandrPavlyshch/cagefy") https://goo.gl/aiSZ4Z

section.slide
	h2 Chrome Extentions
	br
	ul
		li.next Работают с даными страницы
		li.next Работают с сервером
		li.next Имеют хорошую экосистему
		li.next Достаточно трех файлов чтоб написать свое )