section.slide
	h2.shout Chrome Extentions

section.slide.centr-align
	h2 Advanced REST client
	img(style="max-width: 60%;" src="./img/arc.jpg", alt="arc")

section.slide.centr-align
	h2 Perfect Pixel
	img(style="max-width: 60%;" src="./img/perfect_pixel.jpg", alt="perfect_pixel")

section.slide.centr-align
	h2 Fontface Ninja
	img(style="max-width: 80%;" src="./img/fonface_ninja.jpg", alt="fonface_ninja")

section.slide
	h2.shout Давайте напишем своё

section.slide.centr-align

	h2 manifest.json
	img(style="max-width: 70%;" src="./img/manifest_json.jpg", alt="manifest_json")

section.slide.centr-align

	h2 background.js
	img(style="max-width: 80%;" src="./img/background_js.jpg", alt="background_js")


section.slide.centr-align
	h2 cagefy.js
	img(style="max-width: 65%;" src="./img/cagefy_js.jpg", alt="cagefy_js")

section.slide.centr-align
	h2 Debug Extention
	img(style="max-width: 80%;" src="./img/debug_ext.jpg", alt="debug_ext")
