section.slide
	h2.shout Console

section.slide.centr-align
	br
	br
	br
	h2 Copy-Paste и
		br
		|редактирование блоков

section.slide.centr-align
	h2 Переход между панелям
	br
	h2 Cmd+Ctrl + [ ]
		br
		br
		| или
		br
		br
		|Ctrl + [ ]

section.slide.centr-align
	br
	br
	br
	br
	h2 Подсветка елементов к которым применен класс

section.slide.centr-align
	h2 console.table
	br
	img(style="max-width: 80%;" src="./img/console.table.png", alt="console.table")

section.slide.link-slide
	h2 Прихорашивание сжатых файлов 
	img(style="max-width: 80%;" src="./img/f6f045dd81bf47c9ab53930f5708a18b.gif", alt="f6f045dd81bf47c9ab53930f5708a18b")

section.slide
	h2 Выбор элементов DOM
	br
	p 
		mark $(‘tagName’), $(‘.class’), $(‘#id’)
		| - первый элемент DOM соответствующий селектору
	p 
		mark $0 
		| - DOM элемент выделеный в инспекторе
	

section.slide
	h2 Редактирования текста
	br
	pre
		code
			|document.body.contentEditable=true

section.slide.centr-align
	//- h2 Пасхалки в Recponce Headers
	h2 Можно найти новую работу)
	
	img(style="max-width: 74%;" src="./img/booking.jpg", alt="booking")

section.slide.centr-align

	h2 Стилизированные console.log
	br
	img(style="max-width: 90%;" src="./img/color_console_log.jpg", alt="color_console_log")
