section.slide.console_header.black
	h2.shout Console

//- section.slide.centr-align
//- 	br
//- 	br
//- 	br
//- 	h2 Copy-Paste и
//- 		br
//- 		|редактирование блоков

section.slide.centr-align
	h2 Переход между панелям
	br
	h2 Cmd+Ctrl + [ ]
		br
		br
		| или
		br
		br
		|Ctrl + [ ]

section.slide.centr-align
	br
	br
	br
	br
	h2 Подсветка елементов к которым применен класс

section.slide.centr-align
	h2 console.table
	br
	img(style="max-width: 100%; box-shadow: 0 0 7px #666;" src="./img/console.table.png", alt="console.table")

section.slide.link-slide
	h2 Прихорашивание файлов
	img(style="width: 92%; box-shadow: 0 0 7px #666;" src="./img/f6f045dd81bf47c9ab53930f5708a18b.gif", alt="f6f045dd81bf47c9ab53930f5708a18b")

section.slide
	h2 Выбор элементов DOM
	br
	p 
		mark $(‘tagName’), $(‘.class’), $(‘#id’)
		| - первый элемент DOM, соответствующий селектору
	p 
		mark $0 
		| - DOM элемент, выделенный в инспекторе
	

section.slide.link-slide
	h2 Редактирования текста
	pre(style="margin-top: 0;")
		code(style="padding-left: 210px;") document.body.contentEditable=true
	img(style="width: 72%; box-shadow: 0 0 7px #666;" src="./img/content-editable.gif", alt="content-editable")

section.slide.centr-align
	h2 Устроится на работу О_о
	
	img(style="max-width: 84%; box-shadow: 0 0 7px #666;" src="./img/booking.jpg", alt="booking")

section.slide.centr-align

	h2 Стилизованный console.log
	img(style="max-width: 100%; box-shadow: 0 0 7px #666;" src="./img/color_console_log.jpg", alt="color_console_log")
