extends ./layout/default_layout

block title_name
	title=title
block header
	include ../elements/header/header


	include ../elements/postcss/postcss
	include ../elements/backstop/backstop
	include ../elements/chrome_ext/chrome_ext




	.progress
	p.badge
		a(href=git_hub_link target="_blank") Fork me on GitHub