extends ./layout/default_layout

block title_name
	title=title
block header
	include ../elements/header/header

	include ../elements/title/title

	include ../elements/postcss/postcss
	include ../elements/backstop/backstop
	include ../elements/bookmark_script/bookmark_script
	include ../elements/chrome_ext/chrome_ext
	include ../elements/google_script/google_script
	include ../elements/console/console

	include ../elements/contacts/contacts

	.progress
	p.badge
		a(href=git_hub_link target="_blank") Fork me on GitHub