section.slide.bookmark_script_header
	h2.shout Bookmarklet Script

section.slide.link-slide
	//- h2 justice.js
	img(style="max-width: 80%;" src="./img/justice_js.jpg", alt="justice_js")
	p
		a.link-slide_link(href="https://okor.github.io/justice/" target="_blank") https://okor.github.io/justice/

section.slide
	h2 
	pre
		code javascript:(
		code   function(){
		code     /*You magic code*/
		code     var $body = window.document.body;
		code     $body.style.transition="transform 1s ease";
		code     $body.style.transform = "scaleX(-1)"
		code   })();
		code )();

section.slide
	h2 Bookmarklet Script
	br
	ul
		li.next Позволяет выполнить рутинное действие в консоли одним кликом
		li.next Не требует публикации
