section.slide.postcss_header
	h2.shout PostCSS

section.slide.link-slide
	img(style="max-height: 100%;" src="./img/postcss-core-transparent.png", alt="postcss-core")
	.next.postcss-hide_block

section.slide.postcss_header-sub1
	h2.shout Plugins

section.slide.link-slide
	h2 autoprefixer
	img(style="max-height: 55%;" src="./img/autoprefixer.svg", alt="autoprefixer")
	br
	p
		a.link-slide_link(target="_blank" href="https://github.com/postcss/autoprefixer") https://goo.gl/dxvGx6

section.slide.centr-align
	img(style="max-width: 80%;" src="./img/autoprefixer_demo.jpg", alt="autoprefixer_demo")

section.slide.white.link-slide
	h2 cssnext
	br
	br
	img(style="max-width: 80%;" src="./img/cssnext.svg", alt="cssnext")
	br
	br
	br
	p
		a.link-slide_link(target="_blank" href="http://cssnext.io") https://goo.gl/7jjenc

section.slide
	pre
		code @custom-selector :--button button, .button;
		code @custom-media --small-viewport (max-width: 30em)
		code 
		code :root {
		code   --mainColor: red;
		code }
		code .foo, :--button {
		code   background-color: gray(85);
		code   color: color( var(--mainColor) blackness(20%));
		code }

section.slide.link-slide
	h2 CSS Grace
	img(style="max-width: 63%; box-shadow: 0 0 7px #666;" src="./img/cssgrace.gif", alt="cssgrace")
	p
		a.link-slide_link(target="_blank" href="https://github.com/cssdream/cssgrace") https://goo.gl/wnNZYz

section.slide.link-slide
	h2 postcss-colorblind
	img(style="max-width: 60%; box-shadow: 0 0 7px #666;" src="./img/postcss-colorblind.jpg", alt="postcss-colorblind")
	p
		a.link-slide_link(target="_blank" href="https://github.com/btholt/postcss-colorblind") https://goo.gl/vWfZYR

section.slide.link-slide
	h2 rtlcss
	img(style="max-width: 80%; box-shadow: 0 0 7px #666;" src="./img/wiki_rtlcss.jpg", alt="wiki_rtlcss")
	p
		a.link-slide_link(target="_blank" href="https://github.com/MohammadYounes/rtlcss") https://goo.gl/wzCfli

section.slide.link-slide
	h2 postcss-font-magician
	img(style="max-width: 65%; box-shadow: 0 0 7px #666;" src="./img/postcss-font-magician.jpg", alt="postcss-font-magician")
	p
		a.link-slide_link(target="_blank" href="https://github.com/jonathantneal/postcss-font-magician") https://goo.gl/Q9UJp7

section.slide.link-slide
	h2 CSS MQPacker
	.doble
		img(style="max-width: 32%; vertical-align: top; box-shadow: 0 0 7px #666;" src="./img/css-mqpacker1.jpg", alt="css-mqpacker1")
		img(style="max-width: 32%; vertical-align: top; margin-left: 110px; box-shadow: 0 0 7px #666;" src="./img/css-mqpacker2.jpg", alt="css-mqpacker2")
	p
		a.link-slide_link(target="_blank" href="https://github.com/hail2u/node-css-mqpacker") https://goo.gl/ePNuxX

section.slide.postcss_header-sub2
	h2.shout Давайте напишем свой

section.slide.link-slide
	h2 PostCSS OverlayGradient
	a(href="https://codepen.io/alukard/pen/OgKjmo?editors=1100" style="background: none;" target="_blank")
		img(style="max-width: 80%; box-shadow: 0 0 7px #666;" src="./img/postcss-ovg-example.jpg", alt="postcss-ovg-example")

section.slide.link-slide
	h2
		a.link-slide_link(target="_blank" href="http://astexplorer.net") http://astexplorer.net
	img(style="max-width: 95%; box-shadow: 0 0 7px #666;" src="./img/astexplorer2.jpg", alt="astexplorer")

section.slide.link-slide
	br
	h2 Написание PostCSS плагинов
	p
		a.link-slide_link(target="_blank" href="https://github.com/postcss/postcss/blob/master/docs/writing-a-plugin.md") https://goo.gl/LGUVF7

	h2 PostCSS API
	p
		a.link-slide_link(target="_blank" href="http://api.postcss.org") http://api.postcss.org

section.slide
	h2 С чего начать ?
	p.next Создать папку в 
		mark node_modules

	p.next
		mark postcss-Имя_плагина

	p.next Инициализировать её как модуль 
	pre.next(style="margin-top:0;")
		code
			|npm init --yes

	br
	br
	p.next Создать файл 
		mark index.js

section.slide
	h2 Добавить в index.js 

	pre
		code.next var postcss = require('postcss');
		code.next
			| module.exports = postcss.plugin('mypluginName',
			|   unction myplugin(options) {
			|     return function (css) {
			|     options = options || {};
			|       /*Magic*/
			|     }
			| });


section.slide.link-slide
	br
	h2 Репозиторий на GitHub
	p
		a.link-slide_link(target="_blank" href="https://github.com/OleksandrPavlyshch/post_css-overlay_gradient") https://goo.gl/KtDuwx

	h2 Пример на astexplorer.net
	p
		a.link-slide_link(target="_blank" href="http://astexplorer.net/#/gist/b6ec1214716cbfb9706b8bfa934f637d/6ca2f7dfccf200980d218e26af588df1d9317d25") https://goo.gl/xNYQ4h

section.slide
	h2 PostCSS
	br
	ul
		li.next Разбивает файл на AST
		li.next Вся магия происходит в плагинах
		li.next Плагины написаны на JavaScript
		li.next Логика отделена от представления
		li.next Все плагины это репозитории на GitHub
