section.slide.backstopjs_header
		h2.shout BackstopJS

section.slide
	h2 BackstopJS
	p
		b Catch CSS curve balls.
	p CLI инструмент для автоматизации тестирования визуальных регресий.

	ul
		li Phantom JS (Slimer JS)
		li Resemble JS
		li Casper JS


section.slide
	h2 Зачем?
	p ¯_| ಠ ∧ ಠ |_/¯

	ul
		li.next У сайта много страниц и состояний для разных устройств
		li.next Большая команда и много новичков
		li.next Что-то поправил Back-end разработчик
		li.next Несколько файлов CSS на один сайт
		li.next Один CSS файл на несколько сайтов ( и такое бывает) (o_O)
		li.next Вы ведете курсы Front-End разработчиков

section.slide
	H2 Возможности
	br
	ul
		li.next Можно настроить за пять минут
		li.next Тестирование отдельных блоков
		li.next Удаление или скрытие элементов со страницы
		li.next Детальные отчеты в браузере и CLI
		li.next CI интеграция с JUnit отчетами
		li.next Возможность использовать глобально или интегрировать с npm и Gulp


section.slide
	h2 Использование

	p.next
		mark $ npm install -g backstopjs
		|  - установка
	p.next
		mark $ backstop genConfig
		|  - создание базового конфига
	p.next
		mark $ backstop reference
		|  - создание эталонной картинки
	p.next
		mark $ backstop test
		|  - запуск теста
	p.next
		mark $ backstop approve
		|  - замена эталона тестируемой картинкой


section.slide
	img.cover(src="./img/bakstop_test_example.png", alt="bakstop_test_example")

section.slide.backstopjs_header-sub1
	h2.shout Настройка

section.slide
	h2(style="margin-bottom: 0 !important") backstop.json
	pre
		code {
		code.mark.next   "id": "prod_test",
		code   "viewports": [...]
		code   "scenarios": [...]
		code   "paths": {...}
		code.mark.next   "engine": "phantomjs", //- "slimerjs"
		code.mark.next   "report": ["browser"], //- "CI"
		code.mark.next   "debug": false
		code }

section.slide
	h2 Viewports

	pre
		code "viewports": [
		code   {
		code.mark.next     "name": "desctop_mdpi",
		code.mark.next     "width": 1280,
		code.mark.next     "height": 800
		code   },
		code   ...
		code ]

section.slide
	h2 Scenarios

	pre
		code "scenarios": [
		code   {
		code.mark.next     "url": "website.com",
		code.mark.next     "referenceUrl": "stage.website.com",
		code     //--
		code.mark.next     "url": "..local_folder/index.html",
		code     ...
		code   },


section.slide
	h2 Scenarios
	pre
		code.mark.next "hideSelectors": [".hide_on_test"],
		code.mark.next "removeSelectors": [".remove_on_test"],
		code.mark.next "selectors": [
		code   ".hero",
		code   ".portfolio",
		code   ".newsletter",
		code ],


section.slide
	h2 Scenarios
	pre
		code.mark.next     "readyEvent": null, // or some event
		code.mark.next     "delay": 500,
		code.mark.next     "misMatchThreshold" : 0.1,
		code     "onBeforeScript": "onBefore.js",
		code     "onReadyScript": "onReady.js"
		code   }
		code ]


section.slide
	h2 Paths
	pre
		code "paths": {
		code   "bitmaps_reference": "backstop/bitmaps_ref",
		code   "bitmaps_test": "backstop/bitmaps_test",
		code   "casper_scripts": "backstop/casper_scripts",
		code   "html_report": "backstop/html_report",
		code   "ci_report": "backstop/ci_report"
		code },


section.slide
	h2 Настройка вывода в браузере

	pre
		code "resembleOutputOptions": {
		code   "errorColor": {
		code     "red": 255,
		code     "green": 0,
		code     "blue": 255
		code   },
		code   "transparency": 0.3
		code }

section.slide
	h2 onBeforeScript, onReadyScript

	br
	pre
		code module.exports = function(casper, scenario, vp) {
		code 	// casper – Casper instance
		code 	// scenario object
		code 	// vp – viewport obj
		code 	};

section.slide.backstopjs_header-sub2
	h2.shout DEMO

section.slide.backstopjs_header-sub3
	h2.shout А еще варианты?

section.slide
	h2 BackstopJS

	br
	ul
		li.next Быстро настраивается
		li.next Тестирование отдельных блоков
		li.next Выполнение сценариев пользователя через Casper JS
		li.next CI интеграция 