section.slide.title_header.black
	//- h2.shout Машини должны страдать
	h2.shout Machines
		br
		| must
		br
		| suffer!


section.slide.centr-align
	h2 Всем привет!

	.half
		ul(style="font-size: 32px; line-height: 1.6;")
			li.next(style="margin-bottom: 25px;") Front-end разработчик в Astound commerce
			li.next(style="margin-bottom: 25px;") Кредо: "Действия громче чем слова"
			li.next(style="margin-bottom: 25px;") Люблю челенджи
			li.next Хобби: социальные танцы

	img(alt="my-photo" src="img/my-photo.jpg" style="float:right; width: 42%; box-shadow: 0 0 7px #666;")


section.slide
	img.cover.width(src="./img/gally_workers.jpg", alt="gally_workers")

section.slide.centr-align
	h2 Agenda

	br
	ul(style="font-size: 32px; line-height: 1.6;")
		li.next PostCSS
		li.next BackstopJS
		li.next Bookmarklet Script
		li.next Chrome Extentions
		li.next Google Script
		li.next Console