section.slide.title_header.black
	//- h2.shout Машини должны страдать
	h2.shout Machines
		br
		| must
		br
		| suffer!

section.slide
	img.cover(src="./img/galera2.jpg", alt="galera")

section.slide
	img.cover.width(src="./img/galera.jpg", alt="galera")