section.slide.link-slide
	.half.contacts
		p.name Александр Павлыщ
		p.twitter
			a.default_link(href="https://twitter.com/lokdawn80") @lokdawn80
		p.email
			a.default_link(href="mailto:lokdawn80@gmail.com") lokdawn80@gmail.com
		p.skype
			a.default_link(href="skype:oleksandr.pavlishch?call") skype: oleksandr.pavlishch

	img(alt="presentation_qr_code" src="img/presentation_qr_code.svg" class="half")


	p
		a(href="https://github.com/OleksandrPavlyshch/machines_must_suffer" target="blank").link-slide_link https://goo.gl/h6bmBj